/* =============
    Hero
============= */
#hero{
    margin-top: 146px;
}

section{

    h1{
        margin-top: 25px;
    }
    p{
        font-size: 18px;
        margin-top: 25px;
    }
    ul{
        li{
            font-size: 20px;
            font-weight: 500;
        }
    }
}