/* =============
    newsletter
============= */


#newsletter{
    background-color: var(--black);
    color: var(--white);
    margin-top: 100px;
    
}

h2{

}
p{

}

form{
    padding: 9x;
    background-color: var(--black);
    color: var(--white);
}

input{
    background-color: var(--black);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}