/* =============
    Plans
============= */
#plans{

    div{
        h1{
            color: var(--black);
        }
    }

    div{
        span{
            label{

            }
            span{
                color: var(--grey(10%));
            }
        }
}
    }
    

    ul{
        li{
            padding: 30px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);

            display: inline-block;
            h2{
                img{
                    h3{
                        p{
                            button{

                            }
                        }
                    }
                }
            }
        }
    }

    ul{
        .bordered-li{
            padding: 30px;
            border-radius: 10px;
            border: 1px solid #000;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            display: inline-block;
        }
    }
    li{
        h2{
padding: 30px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);
        }
        
    }