/* =============
    signup
============= */
#signup-container{
    //background-color: var(--blue);
    background-color: #024A5890;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    //display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    display: none;


}


form{
    background-color: #024A5890;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 8px;

    #close-btn-container{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 24px;
    }


    input{
        width: 100%;
        box-sizing: border-box;
        height: 30px;
        margin-bottom: 24px;
        border: none;
        border-radius: 8px;
    }

    #sign-up-btn-container{
        display: flex;
        justify-content: flex-end;
    

        button{
            background-color: var(--lightgreen);
            color: var(--white);
            border: 1px solid var(--white);
        }

       
    }
}