/* =============
    Footer
============= */
footer{
    color: var(--white);
    #footer-top{
        background-color: var(--black);
        padding: 100px 0;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        margin-bottom: 33px;
        grid-template-columns: auto 1600px auto;
        grid-template-areas: ". ftgi .";

        #footer-top-grid-item{
            grid-area: ftgi;

            display: grid;
            grid-template-columns: 40% 20% 20% auto;
        }

        section{
            img{
                margin-top: 90px;
            }
            p{
                padding-right: 40px;
                margin-top: 33px;
            }
        }
        
        #icons{
            margin-top: 5px;
            margin-bottom: 30px;
            display: flex;
            list-style: none;
            transition: 0.25s;
            li{
                margin-right: 16px;
            }

        }
    }
    #links{
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        margin-bottom: 10px;
        margin-top: 100px;
        transition: 0.25s;
    }
    #usefull{
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        margin-bottom: 10px;
        margin-top: 100px;
        transition: 0.25s;
    }

    section{
        h2{
            margin-bottom: 30px;
            width: 288px;
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%; /* 28.8px */
            transition: 0.25s;
        }
    }

    #footer-bottom{
        background-color: var(--black);
        padding: 30px;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 28.8px */
        display: grid;
        grid-template-columns: auto 1600px auto;
        grid-template-areas: ". fbgi .";

        #footer-bottom-grid-item{
            grid-area: fbgi;
            display: flex;

            #copyright{
                margin-right: 15px;
            }
        }
    }
}