/* =============
    Header
============= */
header{
    nav{
        ul{
            a{
               font-size: rem-cac(18);
            }
        }

        #trial{
            a{
                border-radius: 5px;
                padding: 30px 15px;
                background-color: var(--blue);
                color: var(--white)
                
            }
        }
    }
}