/* =============
    Buttons
============= */
button{
    border: none;
}
.blue-btn{
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 30px 15px;
    background-color: var(--blue);
    color: var(--white)
}