/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

nav{
    margin-top: 22px;
    padding-top: 27px;
    border-top: 1px solid var(--grey);
    ul{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;

        li{
            a:link, a:visited{
                padding: 10px;
                display: inline-block;
                margin-bottom: 26px;
                color: var(--black);
                transition: 0.25s;
            }

            a:hover, a:active{
                color: var(--grey);
            }

            .Sign-btn{
                background-color: var(--blue);
                color: var(--white);
                border-radius: 8px;
                padding: 12px;
                font-weight: 400;
                border: none;
                transition: 0.25s;
                cursor: pointer;
            }

            .Sign-btn:hover{
                background-color: var(--grey);
                color: var(--black);
            }

            .SignUp-btn{
                background-color: var(--white);
                color: var(--blue);
                border-radius: 8px;
                border: 1px solid var(--blue);
                padding: 12px;
                font-weight: 400;
                cursor: pointer;
            }

            .SignUp-btn:hover{
                background-color: var(--grey);
                color: var(--black);
            }
        }
    }
}