/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

nav{
    ul{
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            margin-left: 40px;
            a:link, a:visited{
                color: var(--white);
                font-size: rem-calc(18);
                font-weight: 500;

            }

            a:hover, a:active{

            }

            a.selected{
                color: var(--blue);
        }

        
        }
    }
}